:host {
    display: block;
    margin-top: 12px;
  
    div.svgWrapper {
      display: block;
      width: 100%;
      height: 100%;
    }
  
    svg {
      width: 750px;
      height: 600px;
  
      g.g-line path {
        fill: none;
        stroke: lightskyblue;
        stroke-width: 1px;
      }
  
      g.g-circles {
        fill: lightblue;
  
        g.g-circles-wrap {
          pointer-events: all;
  
          .circle-outer {
            fill: none;
          }
  
          .circle:hover {
            fill: tomato;
          }
        }
      }
    }
  }